<!-- Center Column: Character Info -->
<div class="w-[500px] bg-lotro-darker p-4 px-4 h-full overflow-y-auto border-t-8 border-b-8 border-lotro-border shadow-lg flex flex-col">
    <!-- Character Info Header -->
    {% include "builder/sections/character_info_header.html" %}

    <!-- Equipment -->
    {% include "builder/sections/equipment.html" %}

    <!-- Virtues -->
    {% include "builder/sections/virtues.html" %}

    <!-- Active Effects Section -->
    {% include "builder/sections/buffs.html" %}
</div> 