<!-- Global Notification Toast -->
{% from 'components/icons.html' import icon %}
<div x-show="showNotification" 
     x-transition:enter="transition ease-out duration-300"
     x-transition:enter-start="opacity-0 transform translate-y-2"
     x-transition:enter-end="opacity-100 transform translate-y-0"
     x-transition:leave="transition ease-in duration-200"
     x-transition:leave-start="opacity-100 transform translate-y-0"
     x-transition:leave-end="opacity-0 transform translate-y-2"
     :class="notificationClasses"
     @click="hideNotification()">
    
    <!-- Notification content with icon -->
    <div class="flex items-center space-x-2">
        <!-- Icon based on notification type -->
        <div class="flex-shrink-0">
            <template x-if="notificationType === 'success'">
                {{ icon('check', 'w-5 h-5') }}
            </template>
            <template x-if="notificationType === 'error'">
                {{ icon('x', 'w-5 h-5') }}
            </template>
            <template x-if="notificationType === 'warning'">
                {{ icon('warning', 'w-5 h-5') }}
            </template>
            <template x-if="notificationType === 'info'">
                {{ icon('info', 'w-5 h-5') }}
            </template>
        </div>
        
        <!-- Message text -->
        <span x-text="notification"></span>
        
        <!-- Close button -->
        <button @click="hideNotification()" class="flex-shrink-0 ml-2 opacity-70 hover:opacity-100 transition-opacity">
            {{ icon('x', 'w-4 h-4') }}
        </button>
    </div>
</div> 